[submodule "stable-diffusion"]
	path = stable-diffusion
	url = https://github.com/davidw0311/stable-diffusion.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/davidw0311/diffusers.git
